@model User
<ul class="header__navbar-list">
    <li><a class="header__navbar-item">CHỖ NGHỈ ĐÃ ĐẶT</a></li>
    <img class="rounded-circle me-lg-2" src="~/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
    <h3 class="d-none d-lg-inline-flex">@Model.FullName</h3>
</ul>


