<ul class="header__navbar-list">
    <li><a class="header__navbar-item">CHỖ NGHỈ ĐÃ ĐẶT</a></li>
    <li>
        <a href="~/componemts/Login_Register/Auth/register/register.php"
           class="header__navbar-item ">ĐĂNG KÍ</a>
    </li>
    <li>
        <a href="~/componemts/Login_Register/Auth/login/login.php" class="header__navbar-item ">
            ĐĂNG
            NHẬP
        </a>
    </li>
</ul>