@model List<Category>
@foreach(var item in Model)
{
    <a asp-controller="Home" asp-action="HotelSource" asp-route-categoryId="@item.CategoryId" class="destination-link">
        <div class="destination-item">
            <img src="~/img/@item.Img"
                 alt="@item.Name" class="destination-image">
            <p class="destination-name">@item.Name</p>
        </div>
    </a>
}
